.logo_2 {
   width: 236px;
   height: 125px;
   display: block;
   position: absolute;
   left: 17px;
   top: 1730px;
}

.bandeja {
   width: 140px;
   height: 126px;
   display: block;
   position: absolute;
   left: 911px;
   top: 23px;
}

.fondo {
   top: 0px;
   background-attachment: fixed;
   transform: rotate(180deg);
   width: 1080px;
   height: 1920px;
}

.menu {
   border: #707070;
   background-color: #069893;
   width: 255px;
   height: 1920px;
   display: block;
   position: absolute;
   top: 0px;
   left: -20px;
}

#menuText{
   
}