
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo {
  width: 714px;
  height: 377px;
 display: block;
 position: absolute;
 margin:auto;
 top: 223px;
 right:250px;
 
 
  
}

.gridImg{
  width: 20%;
}
.fondo{
background-attachment: fixed;
size:1080px,1920px;
transform: rotate(90deg);
}