body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 714px;
  height: 377px;
  display: block;
  position: absolute;
  top: 223px;
  left: 183px;
}

.gridImg {
  width: 100px;
  
}

.hamburguesa {
  width: 316px;
  height: 233px;
  display: block;
  position: absolute;
  top: 813px;
  left: -98px;
}

.cerveza {
  width: 284px;
  height: 346px;
  display: block;
  position: absolute;
  top: 687px;
  left: 236px;
}

.papas {
  width: 441px;
  height: 217px;
  display: block;
  position: absolute;
  left: 472px;
  top: 821px;
}

.pizza {
  width: 463px;
  height: 232px;
  display: block;
  position: absolute;
  left: 909px;
  top: 801px;
}

.touch {
  width: 288px;
  height: 407px;
  display: block;
  position: absolute;
  left: 428px;
  top: 1395px;

}

.cachaña {
  width: 639px;
  height: 576px;
  display: block;
  position: absolute;
  left: 221px;
  top: 1202px;
  position: absolute;
}

body,
html {
  height: 100%;
  /* color: #006966; */
  margin: 0;
  background-image: url(./imagenes/fondo.png);
  
 
background-size: cover;
  
 
background-position: center;
}


#root {
  /* The image used */
  /*background-image: url(./imagenes/fondo.png);

  /* Center and scale the image nicely */
  /* background-position: center; */
  background-repeat: no-repeat;
  /*background-size: 100% 100%;*/
  font-family: 'Open Sans', sans-serif;
}
.fondo


.bandejaObservacion {
  width: 100px;
  height: 100px;
}

.pagarObservacion {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.botonEnviar {
  margin-top: 50px;
  margin-right: 60px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.Observacion {
  background-color: rgba(43, 136, 36, 0.397);
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 50px;
  padding: 50px;
  
  
}
.Observacion b {
  text-align: center;
  
}

.botonConfirmacion {
  border: none;
  color: white;
  background-color: #007d79de;
  padding: 15px;
}
.pagarObservacion{
  margin-left: 250px;
  width: 50px;
  height: 50px;
 
 
}
.imgred{
  margin-left:280px;
  margin-bottom: 80px;
  width: 50px;
  height: 50px;


}
.PPP{
  margin-left: 250px;
}
.RRR{
  margin-left: 50px;
}

.logoobs{
  margin-top: 180px;
  margin-left: 120px;
 
  width: 50px;
  height: 50px;
}
.logopag{
  margin-top: 180px;
  
  margin-left: 30px;
  width: 50px;
  height: 50px;
}
.logoseg{
  margin-top: 180px;

  margin-left: 30px;
  width: 50px;
  height: 50px;
}
.logolog{
  
  margin-bottom: 10px;
  margin-left: 30px;
  width: 50px;
  height: 50px;
}
.logopig{
  margin-top: 10px;
  margin-left:300px;
  width: 50px;
  height: 50px;
}
.CCC h1{
  margin-top: 100px;
  margin-left: 120px;
}
.default{
  margin-top: 20px;
  margin-left: 100px;
}